* {
    list-style-type: none;
}

#question-container,
#guide-container {}

#question-title,
#guide-title {
    font-size: 0.9em;
    color: white;
    background-color: #474dd6;
    padding: 0.5em;
}

#question-question,
#question-guide {
    padding: 0.5em;
    background-color: #fff7e8;


}

code {
    background-color: black;
    padding: 0.4em;

    color: rgb(0, 255, 0) !important;
    font-size: 0.8em !important;
}

#nav {
    background-color: #474dd6;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
}

a {
    color: white;
    text-decoration: none;
    background-color: #474dd6;
    padding: 0.1em;
    display: inline-block;
    width: 100px;
    margin: 0.1em;
    text-align: center;

}


a:hover {

    color: #f2b441;
}


.q-cont-l {
    margin-bottom: 1em;
    color: #474dd6;
    font-weight: bold;
}



.q-cont-r {

    margin-bottom: 1em;
}

.q-cont-m {
    margin-bottom: 1em;
}


.cont-title-header {
    margin-bottom: 1em;
    color: #474dd6;
    font-weight: bold;
}