/** DEFAULTS **/
* {
    list-style-type: none;

}

.row {
    margin-bottom: 1em;
}


/** NAV **/
#nav {
    background-color: #474dd6;
    padding-left: 1em;
    margin-bottom: 1em;
}

#nav #nav-title-link {
    color: white;
    text-decoration: none;
    margin-right: 1em;
}

.nav-link {
    color: white;
}


/** CODE SECTIONS **/

.run-button {
    border: 1px solid black;
    padding: 0.6em;
    font-size: 0.7em;

}

.run-button:hover {
    opacity: 0.5;
}


.code-container {
    margin-bottom: 1em;
}



#question-title,
#guide-title {
    font-size: 0.9em;
    color: white;
    background-color: #474dd6;
    padding: 0.5em;
}

#question-question,
#question-guide {
    padding: 0.5em;
    background-color: #fff7e8;
}



.link-ref {
    color: white;
    text-decoration: none;
    background-color: #474dd6;
    padding: 0.1em;
    display: inline-block;
    width: 100px;
    margin: 0.1em;
    text-align: center;

}


.link-ref:hover,
#nav-title-link:hover,
.nav-link:hover,
.nav-link:focus {
    color: #f2b441 !important;
}




.cont-title-header {
    margin-bottom: 1em;
    color: #474dd6;
    font-weight: bold;
}



code {
    display: inline-block;
    background-color: rgb(234, 234, 234);
    padding: 0.7em;
    font-size: 0.7em;
    min-width: 90%;
}



pre {
    font-size: 0.7rem;
    margin: 0;
}


.cont-title-header-task {
    margin-bottom: 1em;
    color: #f2b441;
    font-weight: bold;
}


.template-tutorial {
    min-height: 80vh !important;
}




/* General text */
.intro {
    font-size: 0.8em;
}

#tutorial-1,
#tutorial-2,
#tutorial-3,
#tutorial-4,
#tutorial-5 {
    min-height: 80vh;
}








/**

TOP TIP SECTION
*/



.top-tip-title {
    font-size: 1em;
    font-weight: bold;
    color: #e33d59;
    margin-top: 1em;
    border-bottom: 2px solid #e33d59;
}

.top-tip-description {
    font-size: 0.8em;
    padding: 1em;
    background-color: #fff7e8;

}