/** DEFAULTS **/
* {
    list-style-type: none;
}

.row {
    margin-bottom: 1em;
}


/** NAV **/
#nav {
    background-color: #474dd6;
    padding: 1em;
}

#nav #nav-title-link {
    color: white;
    text-decoration: none;
}




/** CODE SECTIONS **/

.run-button {
    border: 1px solid black;
    padding: 0.6em;
    font-size: 0.7em;

}

.run-button:hover {
    opacity: 0.5;
}


.code-container {
    margin: 1em 0;

}



#question-title,
#guide-title {
    font-size: 0.9em;
    color: white;
    background-color: #474dd6;
    padding: 0.5em;
}

#question-question,
#question-guide {
    padding: 0.5em;
    background-color: #fff7e8;
}



.link-ref {
    color: white;
    text-decoration: none;
    background-color: #474dd6;
    padding: 0.1em;
    display: inline-block;
    width: 100px;
    margin: 0.1em;
    text-align: center;

}


.link-ref:hover,
#nav-title-link:hover {
    color: #f2b441 !important;
}


.q-cont-l {
    margin-bottom: 1em;
    color: #474dd6;
    font-weight: bold;
}



.q-cont-r {

    margin-bottom: 1em;
}

.q-cont-m {
    margin-bottom: 1em;
}


.cont-title-header {
    margin-bottom: 1em;
    color: #474dd6;
    font-weight: bold;
}



code {
    display: inline-block;

    background-color: rgb(234, 234, 234);
    padding: 0.7em;
    font-size: 0.7em;
}